.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg)
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:olivedrab;
}


#hd3{
	display: inline-block;
	color:skyblue;
	background-color: aliceblue;
	font-family: fantasy;
}

